/* COLORS */
/* border */
/* line-through */
/* title-line */
/* bg */
/* position absolute */
/* arrow */
/* btn effect */
/* line 4, ../sass/block.scss */
.block-menu ul.menu {
  margin: 0;
  padding: 0;
}
/* line 7, ../sass/block.scss */
.block-menu ul.menu li {
  list-style-image: none;
  list-style-type: none;
  margin: 0;
}

/* line 15, ../sass/block.scss */
.headline {
  font-size: .857em;
  text-transform: uppercase;
}
/* line 18, ../sass/block.scss */
.headline .block-weather {
  float: left;
}
/* line 21, ../sass/block.scss */
.headline .block-lang-dropdown, .headline .block-search, .headline .block-menu {
  float: right;
}
/* line 24, ../sass/block.scss */
.headline .block-lang-dropdown {
  margin-right: 25px;
}
/* line 30, ../sass/block.scss */
.headline .block-menu ul.menu .active-trail > a {
  color: #fff;
}
/* line 34, ../sass/block.scss */
.headline .block-menu ul.menu li {
  display: inline-block;
  padding: 8px 10px 11px;
}
/* line 37, ../sass/block.scss */
.headline .block-menu ul.menu li.expanded {
  position: relative;
}
/* line 39, ../sass/block.scss */
.headline .block-menu ul.menu li.expanded > a {
  padding-right: 15px;
  position: relative;
}
/* line 42, ../sass/block.scss */
.headline .block-menu ul.menu li.expanded > a:after {
  content: "\f107";
  font-family: 'FontAwesome';
  position: absolute;
  right: 0;
  top: 0;
}
/* line 51, ../sass/block.scss */
.headline .block-menu ul.menu li.expanded:hover > a:after {
  content: "\f106";
}
/* line 55, ../sass/block.scss */
.headline .block-menu ul.menu li.expanded ul.menu {
  background-color: #0e2127;
  display: none;
  left: 0;
  min-width: 120px;
  position: absolute;
  top: 100%;
  z-index: 10;
}
/* line 63, ../sass/block.scss */
.headline .block-menu ul.menu li.expanded ul.menu li {
  display: block;
}
/* line 67, ../sass/block.scss */
.headline .block-menu ul.menu li.expanded:hover ul.menu {
  display: block;
}
/* line 71, ../sass/block.scss */
.headline .block-menu ul.menu li a {
  white-space: nowrap;
}
/* line 73, ../sass/block.scss */
.headline .block-menu ul.menu li a.active {
  color: white;
}
/* line 80, ../sass/block.scss */
.headline a {
  color: #b9b9b9;
}
/* line 82, ../sass/block.scss */
.headline a:hover, .headline a:focus {
  color: white;
}

/* search-block-form */
/* line 89, ../sass/block.scss */
#search-block-form {
  position: relative;
}
/* line 91, ../sass/block.scss */
#search-block-form .search-icon {
  display: block;
  height: 38px;
  line-height: 35px;
  text-align: center;
  width: 45px;
}
/* line 98, ../sass/block.scss */
#search-block-form .form-text {
  border: none;
  height: 38px;
  padding-right: 70px;
  text-transform: uppercase;
  width: 250px;
}
/* line 105, ../sass/block.scss */
#search-block-form .form-actions {
  position: absolute;
  right: 10px;
  top: 10px;
}
/* line 109, ../sass/block.scss */
#search-block-form .form-actions .form-submit {
  background: none;
  border: none;
  color: white;
  height: 38px;
  min-width: 0;
  position: relative;
  width: 100%;
  z-index: 2;
}
/* line 120, ../sass/block.scss */
#search-block-form .container-inline {
  background-color: #0e2127;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 48px;
  z-index: 1;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0, -250%, 0);
  transform: translate3d(0, -250%, 0);
}
/* line 133, ../sass/block.scss */
#search-block-form.active .container-inline {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* weather */
/* line 142, ../sass/block.scss */
.weather p, .weather .weather-date-info {
  display: inline-block;
  padding-bottom: 11px;
  padding-right: 15px;
  padding-top: 8px;
}
/* line 148, ../sass/block.scss */
.weather p {
  margin: 0;
}
/* line 151, ../sass/block.scss */
.weather .weather-date-info {
  border-right: 1px solid rgba(255, 255, 255, 0.18);
  padding-left: 8px;
  padding-right: 13px;
}
/* line 156, ../sass/block.scss */
.weather .weather-tempature span {
  font-weight: 700;
}

/* lang_dropdown_form language */
/* line 163, ../sass/block.scss */
.language .form-item-lang-dropdown-select {
  margin-bottom: 0;
  margin-top: 0;
}
/* line 169, ../sass/block.scss */
.language .dd-select {
  background: #1e3840 !important;
  border: none;
  border-radius: 0;
}
/* line 174, ../sass/block.scss */
.language .dd-selected {
  color: #b9b9b9;
  font-weight: 100;
  padding: 8px 30px 11px 10px;
}
/* line 178, ../sass/block.scss */
.language .dd-selected:hover, .language .dd-selected:focus {
  color: white;
}
/* line 182, ../sass/block.scss */
.language .dd-pointer:after {
  font-family: 'FontAwesome';
  margin-top: -7px;
  position: absolute;
  right: -2px;
  top: 50%;
}
/* line 189, ../sass/block.scss */
.language .dd-pointer-down, .language .dd-pointer-up {
  border: none !important;
}
/* line 192, ../sass/block.scss */
.language .dd-pointer-down:after {
  content: "\f107";
}
/* line 195, ../sass/block.scss */
.language .dd-pointer-up:after {
  content: "\f106";
  margin-top: -3px;
}
/* line 199, ../sass/block.scss */
.language .dd-options {
  background: #0e2127;
  border: none;
  box-shadow: none;
}
/* line 204, ../sass/block.scss */
.language .dd-option {
  border-bottom-color: rgba(255, 255, 255, 0.05);
  color: #b9b9b9;
}
/* line 207, ../sass/block.scss */
.language .dd-option:hover, .language .dd-option:focus {
  background: #1e3840;
  color: white;
}
/* line 212, ../sass/block.scss */
.language .dd-option-selected {
  background: #1e3840;
}

/* datepicker */
/* line 218, ../sass/block.scss */
#ui-datepicker-div {
  font-family: 'open_sanslight';
  background: white;
  border: 1px solid #0e2127;
  padding: 0;
}
/* line 223, ../sass/block.scss */
#ui-datepicker-div .ui-datepicker-calendar {
  font-size: .857em;
}

/* line 228, ../sass/block.scss */
.ui-datepicker .ui-datepicker-title select {
  font-size: .857em;
  padding: 7px 10px;
}

/* line 233, ../sass/block.scss */
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  background: none;
  color: #0e2127;
}

/* line 238, ../sass/block.scss */
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
  border-bottom-right-radius: 0;
}

/* line 242, ../sass/block.scss */
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
  border-bottom-left-radius: 0;
}

/* line 246, ../sass/block.scss */
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
  border-top-right-radius: 0;
}

/* line 250, ../sass/block.scss */
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
  border-top-left-radius: 0;
}

/* line 255, ../sass/block.scss */
.ui-datepicker .ui-datepicker-header {
  background: none;
  border: none;
  border-bottom: 1px solid rgba(14, 33, 39, 0.05);
  padding: 1em 0;
}
/* line 260, ../sass/block.scss */
.ui-datepicker .ui-datepicker-header .ui-icon {
  background-image: none;
  height: 1.8em;
  left: 0;
  line-height: .8;
  margin-left: 0;
  margin-top: 0;
  top: 0;
  width: 1.8em;
}
/* line 271, ../sass/block.scss */
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
  top: 18px;
}
/* line 274, ../sass/block.scss */
.ui-datepicker .ui-datepicker-prev .ui-icon:after, .ui-datepicker .ui-datepicker-next .ui-icon:after {
  font-family: 'FontAwesome';
  font-size: 2.142em;
  left: 0;
  position: absolute;
  text-align: center;
  text-indent: 0;
  top: 0;
  width: 100%;
}
/* line 286, ../sass/block.scss */
.ui-datepicker .ui-datepicker-prev {
  left: 0;
}
/* line 289, ../sass/block.scss */
.ui-datepicker .ui-datepicker-prev .ui-icon:after {
  content: "\f104";
}
/* line 294, ../sass/block.scss */
.ui-datepicker .ui-datepicker-next {
  right: 0;
}
/* line 297, ../sass/block.scss */
.ui-datepicker .ui-datepicker-next .ui-icon:after {
  content: "\f105";
}
/* line 302, ../sass/block.scss */
.ui-datepicker .ui-state-hover, .ui-datepicker .ui-state-focus {
  border: none;
  background: none;
}
/* line 306, ../sass/block.scss */
.ui-datepicker table {
  margin: 0;
}
/* line 309, ../sass/block.scss */
.ui-datepicker th, .ui-datepicker td {
  padding: 8px 5px;
}
/* line 312, ../sass/block.scss */
.ui-datepicker td {
  border-top: 1px solid rgba(14, 33, 39, 0.05);
}
/* line 314, ../sass/block.scss */
.ui-datepicker td span {
  padding: 0;
  text-align: center;
}

/* line 322, ../sass/block.scss */
.ui-datepicker-calendar .ui-state-default {
  border: none;
}

/* line 327, ../sass/block.scss */
#user-login, #user-register-form, #user-pass {
  background-color: white;
  margin: 0 auto;
  padding: 30px;
  text-align: center;
  width: 40%;
}
/* line 333, ../sass/block.scss */
#user-login label, #user-register-form label, #user-pass label {
  display: block;
}
/* line 336, ../sass/block.scss */
#user-login .form-text, #user-register-form .form-text, #user-pass .form-text {
  height: 40px;
  width: 100%;
}

/* sidebar */
/* line 343, ../sass/block.scss */
.sidebar {
  /* alo-testimonial */
  /***/
}
/* line 344, ../sass/block.scss */
.sidebar .block {
  margin-bottom: 55px;
}
/* line 346, ../sass/block.scss */
.sidebar .block > .content {
  background-color: white;
}
/* line 351, ../sass/block.scss */
.sidebar .block-menu ul.menu li {
  padding: 0;
}
/* line 353, ../sass/block.scss */
.sidebar .block-menu ul.menu li a {
  border-top: 1px solid #f8f8f8;
  color: #929292;
  display: block;
  padding: 12px 20px;
  text-transform: uppercase;
}
/* line 359, ../sass/block.scss */
.sidebar .block-menu ul.menu li a:hover, .sidebar .block-menu ul.menu li a:focus {
  background-color: #0e2127;
  color: white;
}
/* line 364, ../sass/block.scss */
.sidebar .block-menu ul.menu li.first a {
  border-top: none;
}
/* line 369, ../sass/block.scss */
.sidebar .rooms-availability-search {
  padding: 20px;
}
/* line 375, ../sass/block.scss */
.sidebar .rooms-availability-search .form-item-group-size-children,
.sidebar .rooms-availability-search .form-item-group-size-adults,
.sidebar .rooms-availability-search .form-item-unit-type,
.sidebar .rooms-availability-search .form-item-rooms,
.sidebar .rooms-availability-search .form-wrapper {
  float: none;
  margin: 0;
}
/* line 379, ../sass/block.scss */
.sidebar .rooms-availability-search select {
  width: 100%;
}
/* line 382, ../sass/block.scss */
.sidebar .rooms-availability-search .form-item {
  margin-bottom: 10px;
}
/* line 385, ../sass/block.scss */
.sidebar .rooms-availability-search #edit-actions {
  margin-top: 16px;
}
/* line 388, ../sass/block.scss */
.sidebar .rooms-availability-search .form-submit {
  width: 100%;
}
/* line 393, ../sass/block.scss */
.sidebar .rooms-date-range .start-date, .sidebar .rooms-date-range .end-date {
  display: block;
  margin-right: 0;
  width: 100%;
}
/* line 398, ../sass/block.scss */
.sidebar .rooms-date-range .container-inline-date {
  width: 100%;
}
/* line 400, ../sass/block.scss */
.sidebar .rooms-date-range .container-inline-date .date-padding, .sidebar .rooms-date-range .container-inline-date .form-item {
  width: 100%;
}
/* line 402, ../sass/block.scss */
.sidebar .rooms-date-range .container-inline-date .date-padding input, .sidebar .rooms-date-range .container-inline-date .form-item input {
  width: 100%;
}
/* line 412, ../sass/block.scss */
.sidebar .rooms-management-form .form-type-select,
.sidebar .rooms-management-form .form-item-operation,
.sidebar .rooms-management-form .form-item-amount,
.sidebar .rooms-management-form .rooms-date-range,
.sidebar .rooms-management-form .form-actions {
  float: none;
  margin: 0 0 10px;
}
/* line 416, ../sass/block.scss */
.sidebar .rooms-management-form .form-actions {
  padding-top: 10px;
}
/* line 419, ../sass/block.scss */
.sidebar .item-list ul {
  margin: 0;
}
/* line 421, ../sass/block.scss */
.sidebar .item-list ul li {
  margin: 0;
}
/* line 426, ../sass/block.scss */
.sidebar .alo-testimonial {
  padding: 30px 20px;
}
/* line 429, ../sass/block.scss */
.sidebar .alo-testimonial .jcarousel-skin-default .jcarousel-item {
  padding-bottom: 30px;
  text-align: center;
  width: 223px;
}
/* line 433, ../sass/block.scss */
.sidebar .alo-testimonial .jcarousel-skin-default .jcarousel-item .views-field-picture {
  position: static;
}
/* line 436, ../sass/block.scss */
.sidebar .alo-testimonial .jcarousel-skin-default .jcarousel-item .info-body {
  padding: 0;
}
/* line 440, ../sass/block.scss */
.sidebar .alo-testimonial .jcarousel-skin-default .jcarousel-navigation {
  bottom: 0;
  text-align: center;
  top: auto;
  width: 100%;
  z-index: 2;
}
/* line 446, ../sass/block.scss */
.sidebar .alo-testimonial .jcarousel-skin-default .jcarousel-navigation li {
  margin: 0 5px;
}
/* line 453, ../sass/block.scss */
.sidebar ul.quicktabs-tabs {
  background-color: #f6f5f5;
  padding-bottom: 17px;
  overflow: hidden;
}
/* line 457, ../sass/block.scss */
.sidebar ul.quicktabs-tabs li {
  font-family: 'open_sansbold_italic';
  padding: 0;
  text-transform: uppercase;
  white-space: normal;
}
/* line 462, ../sass/block.scss */
.sidebar ul.quicktabs-tabs li a {
  background-color: #f6f5f5;
  color: #b9b9b9;
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  z-index: 2;
}
/* line 471, ../sass/block.scss */
.sidebar ul.quicktabs-tabs li.active {
  overflow: hidden;
  position: relative;
  padding-left: 35px;
  padding-right: 35px;
}
/* line 146, ../sass/includes/_include.scss */
.sidebar ul.quicktabs-tabs li.active:after {
  background-color: #0e2127;
  content: "";
  display: block;
  height: 1px;
  left: 0;
  margin-top: -1px;
  position: absolute;
  top: 50%;
  width: 500px;
}
/* line 475, ../sass/block.scss */
.sidebar ul.quicktabs-tabs li.active a {
  color: #0e2127;
  font-size: 1.428em;
  position: relative;
}
/* line 480, ../sass/block.scss */
.sidebar ul.quicktabs-tabs li.active:after {
  width: 100%;
  z-index: 1;
}
/* line 484, ../sass/block.scss */
.sidebar ul.quicktabs-tabs li.active.first {
  padding-left: 0;
}
/* line 487, ../sass/block.scss */
.sidebar ul.quicktabs-tabs li.active.last {
  padding-right: 0;
}
/* line 491, ../sass/block.scss */
.sidebar ul.quicktabs-tabs li.first a {
  padding-left: 0;
}
/* line 494, ../sass/block.scss */
.sidebar ul.quicktabs-tabs li.last a {
  padding-right: 0;
}
