/* COLORS */
/* border */
/* line-through */
/* title-line */
/* bg */
/* position absolute */
/* arrow */
/* btn effect */
/* menu.scss */
/* line 4, ../sass/menu.scss */
.collapse {
  display: block;
}

/* line 7, ../sass/menu.scss */
.navbar-main {
  background-color: transparent;
  border: none;
  background-image: none;
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 0;
}
/* line 16, ../sass/menu.scss */
.navbar-main .tb-megamenu .nav-collapse.collapse {
  display: block;
}
/* line 21, ../sass/menu.scss */
.navbar-main ul.menu {
  float: right;
  margin-right: -15px;
  text-transform: uppercase;
}
/* line 25, ../sass/menu.scss */
.navbar-main ul.menu li {
  display: inline-block;
  float: left;
  padding: 0;
}
/* line 29, ../sass/menu.scss */
.navbar-main ul.menu li a {
  display: block;
  padding: 43px 15px 45px;
  position: relative;
  color: #0e2127;
}
/* line 34, ../sass/menu.scss */
.navbar-main ul.menu li a:hover, .navbar-main ul.menu li a:focus {
  background-color: #0e2127;
  color: white;
}
/* line 38, ../sass/menu.scss */
.navbar-main ul.menu li a.active, .navbar-main ul.menu li a.active-trail {
  background-color: #0e2127;
  color: white;
}
/* line 182, ../sass/includes/_include.scss */
.navbar-main ul.menu li a.active:after, .navbar-main ul.menu li a.active-trail:after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: -4px;
  position: absolute;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  left: 50%;
}
/* line 206, ../sass/includes/_include.scss */
.navbar-main ul.menu li a.active:after, .navbar-main ul.menu li a.active-trail:after {
  border-bottom: 12px solid;
  border-bottom-color: white;
  top: -12px;
}
/* line 42, ../sass/menu.scss */
.navbar-main ul.menu li a.active:after, .navbar-main ul.menu li a.active-trail:after {
  bottom: 0;
  border-width: 6px;
  top: auto;
}
/* line 50, ../sass/menu.scss */
.navbar-main ul.menu li:hover > a, .navbar-main ul.menu li:focus > a {
  background-color: #0e2127;
  color: white;
}
/* line 55, ../sass/menu.scss */
.navbar-main ul.menu li.expanded {
  position: relative;
}
/* line 182, ../sass/includes/_include.scss */
.navbar-main ul.menu li.expanded:hover:after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: -4px;
  position: absolute;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  left: 50%;
}
/* line 206, ../sass/includes/_include.scss */
.navbar-main ul.menu li.expanded:hover:after {
  border-bottom: 12px solid;
  border-bottom-color: white;
  top: -12px;
}
/* line 59, ../sass/menu.scss */
.navbar-main ul.menu li.expanded:hover:after {
  bottom: 0;
  border-width: 6px;
  top: auto;
}
/* line 65, ../sass/menu.scss */
.navbar-main ul.menu li.expanded ul.menu {
  background-color: white;
  display: none;
  left: 0;
  position: absolute;
  top: 100%;
  min-width: 220px;
  text-align: center;
  z-index: 10;
}
/* line 74, ../sass/menu.scss */
.navbar-main ul.menu li.expanded ul.menu li {
  display: block;
  float: none;
}
/* line 77, ../sass/menu.scss */
.navbar-main ul.menu li.expanded ul.menu li a {
  padding: 15px;
}
/* line 82, ../sass/menu.scss */
.navbar-main ul.menu li.expanded:hover ul.menu {
  display: block;
}

/* .tb-megamenu */
/* line 92, ../sass/menu.scss */
.tb-megamenu-main-menu {
  background-color: transparent;
  margin-right: -15px;
  text-transform: uppercase;
}
/* line 96, ../sass/menu.scss */
.tb-megamenu-main-menu .nav {
  float: right;
}
/* line 98, ../sass/menu.scss */
.tb-megamenu-main-menu .nav > li > a {
  border-right: none;
  color: #0e2127;
  font-weight: 100;
  padding: 43px 15px 45px;
}
/* line 103, ../sass/menu.scss */
.tb-megamenu-main-menu .nav > li > a:hover, .tb-megamenu-main-menu .nav > li > a:focus {
  background-color: #0e2127;
  color: white;
}
/* line 108, ../sass/menu.scss */
.tb-megamenu-main-menu .nav > .dropdown > .dropdown-toggle .caret {
  display: none;
}
/* line 111, ../sass/menu.scss */
.tb-megamenu-main-menu .nav .open > a, .tb-megamenu-main-menu .nav .open > a:hover, .tb-megamenu-main-menu .nav .open > a:focus {
  background-color: #0e2127;
  border-color: transparent;
  color: white;
}
/* line 182, ../sass/includes/_include.scss */
.tb-megamenu-main-menu .nav .open > a:after, .tb-megamenu-main-menu .nav .open > a:hover:after, .tb-megamenu-main-menu .nav .open > a:focus:after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: -4px;
  position: absolute;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  left: 50%;
}
/* line 197, ../sass/includes/_include.scss */
.tb-megamenu-main-menu .nav .open > a:after, .tb-megamenu-main-menu .nav .open > a:hover:after, .tb-megamenu-main-menu .nav .open > a:focus:after {
  border-top: 12px solid;
  border-top-color: white;
  bottom: -12px;
}
/* line 116, ../sass/menu.scss */
.tb-megamenu-main-menu .nav .open > a:after, .tb-megamenu-main-menu .nav .open > a:hover:after, .tb-megamenu-main-menu .nav .open > a:focus:after {
  border-width: 5px;
  bottom: auto;
  top: 0;
}
/* line 122, ../sass/menu.scss */
.tb-megamenu-main-menu .nav > .active > a, .tb-megamenu-main-menu .nav > .active > a:hover, .tb-megamenu-main-menu .nav > .active > a:focus {
  background-color: #0e2127;
}
/* line 182, ../sass/includes/_include.scss */
.tb-megamenu-main-menu .nav > .active > a:after, .tb-megamenu-main-menu .nav > .active > a:hover:after, .tb-megamenu-main-menu .nav > .active > a:focus:after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: -4px;
  position: absolute;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  left: 50%;
}
/* line 197, ../sass/includes/_include.scss */
.tb-megamenu-main-menu .nav > .active > a:after, .tb-megamenu-main-menu .nav > .active > a:hover:after, .tb-megamenu-main-menu .nav > .active > a:focus:after {
  border-top: 12px solid;
  border-top-color: white;
  bottom: -12px;
}
/* line 125, ../sass/menu.scss */
.tb-megamenu-main-menu .nav > .active > a:after, .tb-megamenu-main-menu .nav > .active > a:hover:after, .tb-megamenu-main-menu .nav > .active > a:focus:after {
  border-width: 5px;
  bottom: auto;
  top: 0;
}
/* line 131, ../sass/menu.scss */
.tb-megamenu-main-menu .nav li.dropdown.open > .dropdown-toggle {
  background-color: #0e2127;
  color: white;
}
/* line 182, ../sass/includes/_include.scss */
.tb-megamenu-main-menu .nav li.dropdown.open > .dropdown-toggle:after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: -4px;
  position: absolute;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  left: 50%;
}
/* line 197, ../sass/includes/_include.scss */
.tb-megamenu-main-menu .nav li.dropdown.open > .dropdown-toggle:after {
  border-top: 12px solid;
  border-top-color: white;
  bottom: -12px;
}
/* line 135, ../sass/menu.scss */
.tb-megamenu-main-menu .nav li.dropdown.open > .dropdown-toggle:after {
  border-width: 5px;
  bottom: auto;
  top: 0;
}
/* line 143, ../sass/menu.scss */
.tb-megamenu-main-menu .nav li.dropdown.active > .dropdown-toggle,
.tb-megamenu-main-menu .nav li.dropdown.open.active > .dropdown-toggle,
.tb-megamenu-main-menu .nav > li.dropdown.open.active > a:hover {
  background-color: #0e2127;
}
/* line 182, ../sass/includes/_include.scss */
.tb-megamenu-main-menu .nav li.dropdown.active > .dropdown-toggle:after,
.tb-megamenu-main-menu .nav li.dropdown.open.active > .dropdown-toggle:after,
.tb-megamenu-main-menu .nav > li.dropdown.open.active > a:hover:after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: -4px;
  position: absolute;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  left: 50%;
}
/* line 197, ../sass/includes/_include.scss */
.tb-megamenu-main-menu .nav li.dropdown.active > .dropdown-toggle:after,
.tb-megamenu-main-menu .nav li.dropdown.open.active > .dropdown-toggle:after,
.tb-megamenu-main-menu .nav > li.dropdown.open.active > a:hover:after {
  border-top: 12px solid;
  border-top-color: white;
  bottom: -12px;
}
/* line 146, ../sass/menu.scss */
.tb-megamenu-main-menu .nav li.dropdown.active > .dropdown-toggle:after,
.tb-megamenu-main-menu .nav li.dropdown.open.active > .dropdown-toggle:after,
.tb-megamenu-main-menu .nav > li.dropdown.open.active > a:hover:after {
  border-width: 5px;
  bottom: auto;
  top: 0;
}
/* line 153, ../sass/menu.scss */
.tb-megamenu-main-menu .mega-inner, .tb-megamenu-main-menu .span12.mega-col-nav .mega-inner {
  padding: 30px;
}
/* line 156, ../sass/menu.scss */
.tb-megamenu-main-menu .dropdown-menu {
  background-color: #0e2127;
  border: none;
  border-bottom: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 163, ../sass/menu.scss */
.tb-megamenu-main-menu .dropdown-menu li > a {
  border-top: none;
  color: #929292;
  padding: 8px 0;
}
/* line 167, ../sass/menu.scss */
.tb-megamenu-main-menu .dropdown-menu li > a:hover, .tb-megamenu-main-menu .dropdown-menu li > a:focus {
  color: white;
}
/* line 169, ../sass/menu.scss */
.tb-megamenu-main-menu .dropdown-menu li > a:hover:after, .tb-megamenu-main-menu .dropdown-menu li > a:focus:after {
  display: none;
}
/* line 175, ../sass/menu.scss */
.tb-megamenu-main-menu .dropdown-menu .open > a:after, .tb-megamenu-main-menu .dropdown-menu .open > a:hover:after, .tb-megamenu-main-menu .dropdown-menu .open > a:focus:after {
  display: none;
}
/* line 179, ../sass/menu.scss */
.tb-megamenu-main-menu .dropdown-menu .views-field-type-image a, .tb-megamenu-main-menu .dropdown-menu .views-field-title a {
  padding: 0;
}
/* line 181, ../sass/menu.scss */
.tb-megamenu-main-menu .dropdown-menu .views-field-type-image a:hover, .tb-megamenu-main-menu .dropdown-menu .views-field-type-image a:focus, .tb-megamenu-main-menu .dropdown-menu .views-field-title a:hover, .tb-megamenu-main-menu .dropdown-menu .views-field-title a:focus {
  color: white;
}
/* line 185, ../sass/menu.scss */
.tb-megamenu-main-menu .dropdown-menu .grid-news .views-row {
  margin-bottom: 0;
  margin-left: 0;
  text-align: left;
  text-transform: none;
}
/* line 191, ../sass/menu.scss */
.tb-megamenu-main-menu .dropdown-menu .views-field-title {
  font-size: 1em;
  margin-bottom: 15px;
}
/* line 195, ../sass/menu.scss */
.tb-megamenu-main-menu .dropdown-menu .views-field-body p {
  margin-bottom: 0;
}
/* line 198, ../sass/menu.scss */
.tb-megamenu-main-menu .dropdown-menu .active > a, .tb-megamenu-main-menu .dropdown-menu .active > a:hover {
  background: none;
}
/* line 202, ../sass/menu.scss */
.tb-megamenu-main-menu .mega-nav > li a, .tb-megamenu-main-menu .dropdown-menu .mega-nav > li a {
  padding: 8px 0;
}
/* line 205, ../sass/menu.scss */
.tb-megamenu-main-menu .tb-megamenu-row .tb-megamenu-column + .tb-megamenu-column {
  border-left: 1px solid rgba(185, 185, 185, 0.23);
  color: #b9b9b9;
}
/* line 209, ../sass/menu.scss */
.tb-megamenu-main-menu .mega-dropdown-inner h2 {
  color: #b9b9b9;
  font-size: 1em;
  font-family: 'open_sansbold';
}

/********************
* Mobile menu *
********************/
/* line 220, ../sass/menu.scss */
.btn-close {
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
  display: none;
  color: #fff;
  cursor: pointer;
  position: absolute;
  padding: 3px 7px;
  right: 8px;
  top: -25px;
  font-size: 12px;
  color: #aaa;
}
/* line 231, ../sass/menu.scss */
.btn-close:hover, .btn-close:focus {
  color: #fff;
}
