/* COLORS */
/* border */
/* line-through */
/* title-line */
/* bg */
/* position absolute */
/* arrow */
/* btn effect */
/* node.scss */
/* line 5, ../sass/node.scss */
.node-type-webform .region-content {
  background-color: white;
  padding: 30px;
}
/* line 9, ../sass/node.scss */
.node-type-webform .iframe-map {
  margin: -30px -30px 50px;
}
/* line 14, ../sass/node.scss */
.node-type-webform .node-webform > .content {
  overflow: hidden;
  padding: 0;
}
/* line 18, ../sass/node.scss */
.node-type-webform .node-webform .field-type-text-with-summary {
  float: right;
  margin-top: 1em;
  width: 30%;
}
/* line 23, ../sass/node.scss */
.node-type-webform .node-webform .webform-client-form {
  float: left;
  width: 70%;
}
/* line 27, ../sass/node.scss */
.node-type-webform .node-webform .form-item {
  float: left;
  margin-right: 30px;
  width: 46%;
}
/* line 31, ../sass/node.scss */
.node-type-webform .node-webform .form-item .form-text {
  height: 45px;
  text-transform: uppercase;
  width: 100%;
}
/* line 37, ../sass/node.scss */
.node-type-webform .node-webform .webform-component-textarea {
  clear: both;
  float: none;
  width: 100%;
}
/* line 41, ../sass/node.scss */
.node-type-webform .node-webform .webform-component-textarea .form-textarea-wrapper {
  padding-top: 1em;
  padding-right: 30px;
}
/* line 45, ../sass/node.scss */
.node-type-webform .node-webform .webform-component-textarea .form-textarea {
  text-transform: uppercase;
}
/* line 49, ../sass/node.scss */
.node-type-webform .node-webform .form-actions {
  margin-bottom: 2em;
  margin-top: 2em;
}

/* line 56, ../sass/node.scss */
.node {
  background-color: white;
  margin-bottom: 30px;
}
/* line 59, ../sass/node.scss */
.node > h2 {
  margin: 0;
  padding: 30px 30px 0;
}
/* line 63, ../sass/node.scss */
.node > ul.links.inline {
  border-top: 1px solid #ddd;
  color: #b9b9b9;
  display: block;
  padding: 20px 30px 0;
}
/* line 68, ../sass/node.scss */
.node > ul.links.inline li {
  padding: 0;
}
/* line 72, ../sass/node.scss */
.node > .content {
  padding: 30px;
}
/* line 75, ../sass/node.scss */
.node .field-name-commerce-price {
  margin: -30px -30px 0 30px;
}
/* line 78, ../sass/node.scss */
.node .field-name-field-from-price, .node .field-name-rooms-package-dates, .node .field-name-rooms-package-unit-types {
  margin-bottom: 25px;
}

/* line 84, ../sass/node.scss */
.node-teaser > .content {
  padding-top: 0;
}
/* line 87, ../sass/node.scss */
.node-teaser > ul.links.inline {
  border-top: none;
  padding-top: 0;
}
/* line 90, ../sass/node.scss */
.node-teaser > ul.links.inline li + li {
  margin-left: 15px;
  padding-left: 15px;
}
