/* COLORS */
/* border */
/* line-through */
/* title-line */
/* bg */
/* position absolute */
/* arrow */
/* btn effect */
/* jcarousel */
/* line 4, ../sass/view.scss */
.jcarousel-skin-default {
  text-align: left;
}

/* line 10, ../sass/view.scss */
.jcarousel-skin-default .jcarousel-container-horizontal,
.jcarousel-skin-default .jcarousel-clip-horizontal {
  height: auto;
  padding: 0;
  width: 100%;
}
/* line 16, ../sass/view.scss */
.jcarousel-skin-default .jcarousel-next,
.jcarousel-skin-default .jcarousel-prev {
  background: none;
  border: 1px solid #0e2127;
  display: block;
  height: 45px;
  left: auto;
  right: 0;
  top: -65px;
  width: 45px;
}
/* line 26, ../sass/view.scss */
.jcarousel-skin-default .jcarousel-prev {
  right: 60px;
}
/* line 30, ../sass/view.scss */
.jcarousel-skin-default .jcarousel-next:after,
.jcarousel-skin-default .jcarousel-prev:after {
  font-family: 'FontAwesome';
  font-size: 1.428em;
  left: 0;
  line-height: 42px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}
/* line 40, ../sass/view.scss */
.jcarousel-skin-default .jcarousel-next:after {
  content: "\f105";
}
/* line 43, ../sass/view.scss */
.jcarousel-skin-default .jcarousel-prev:after {
  content: "\f104";
}
/* line 47, ../sass/view.scss */
.jcarousel-skin-default .jcarousel-next:hover,
.jcarousel-skin-default .jcarousel-prev:hover {
  background-color: #0e2127;
  border-color: #0e2127;
  color: white;
}
/* line 52, ../sass/view.scss */
.jcarousel-skin-default .jcarousel-item {
  background: none;
  border: none;
  height: auto;
  margin: 0;
  width: 100%;
}
/* line 59, ../sass/view.scss */
.jcarousel-skin-default .jcarousel-navigation {
  position: absolute;
  right: 0;
  top: -53px;
}
/* line 63, ../sass/view.scss */
.jcarousel-skin-default .jcarousel-navigation li {
  margin: 0 0 0 10px;
}
/* line 65, ../sass/view.scss */
.jcarousel-skin-default .jcarousel-navigation li a {
  background-color: #b9b9b9;
  border: 2px solid #b9b9b9;
  border-radius: 50%;
  display: inline-block;
  height: 13px;
  width: 13px;
}
/* line 72, ../sass/view.scss */
.jcarousel-skin-default .jcarousel-navigation li a span {
  display: none;
}
/* line 76, ../sass/view.scss */
.jcarousel-skin-default .jcarousel-navigation li.active a {
  background-color: #0e2127;
}

/* line 84, ../sass/view.scss */
.views-field-type-image img, .views-field-field-image img, .field-type-image img, .views-field-field-images img {
  height: auto;
  max-width: 100%;
}

/* line 90, ../sass/view.scss */
.views-field-field-image {
  margin-bottom: 12px;
}

/* line 94, ../sass/view.scss */
.views-field-name {
  text-transform: capitalize;
}

/* line 98, ../sass/view.scss */
.form-submit {
  border: 1px solid #0e2127;
  color: #0e2127;
  display: inline-block;
  font-size: 1em;
  min-width: 170px;
  padding: 10px 15px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}
/* line 108, ../sass/view.scss */
.form-submit:hover, .form-submit:focus {
  background-color: #0e2127;
  border-color: #0e2127;
  color: white;
}

/* line 115, ../sass/view.scss */
.checkout-buttons .checkout-cancel, .checkout-buttons .checkout-back {
  background-color: #929292;
  border: 1px solid #929292;
  color: white;
  padding: 10px 15px;
}
/* line 120, ../sass/view.scss */
.checkout-buttons .checkout-cancel:hover, .checkout-buttons .checkout-cancel:focus, .checkout-buttons .checkout-back:hover, .checkout-buttons .checkout-back:focus {
  background-color: #0e2127;
  border-color: white;
  color: white;
  text-decoration: none;
}

/* line 128, ../sass/view.scss */
.views-field-title, .views-field-title-1, .views-field-commerce-price {
  font-family: 'open_sansbold';
  font-size: 1.428em;
  text-transform: uppercase;
  line-height: 1.4;
}

/* line 133, ../sass/view.scss */
.views-field-title {
  margin-bottom: 25px;
}

/* line 137, ../sass/view.scss */
.views-field-field-book-link a {
  border: 1px solid #0e2127;
  display: inline-block;
  min-width: 170px;
  overflow: hidden;
  padding: 10px 15px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  z-index: 2;
}
/* line 224, ../sass/includes/_include.scss */
.views-field-field-book-link a:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  width: 100%;
  height: 0;
  top: 50%;
  left: 50%;
  background: #0e2127;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -moz-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}
/* line 242, ../sass/includes/_include.scss */
.views-field-field-book-link a:hover, .views-field-field-book-link a:focus, .views-field-field-book-link a:hover:after {
  color: white;
  height: 460%;
  opacity: 1;
}

/* line 141, ../sass/view.scss */
.views-field-field-customer-vote, .field-name-field-customer-vote {
  margin-bottom: 25px;
}
/* line 143, ../sass/view.scss */
.views-field-field-customer-vote div, .field-name-field-customer-vote div {
  display: inline-block;
}
/* line 146, ../sass/view.scss */
.views-field-field-customer-vote .views-label-field-customer-vote, .field-name-field-customer-vote .views-label-field-customer-vote {
  line-height: 1.2;
  padding-right: 10px;
}
/* line 150, ../sass/view.scss */
.views-field-field-customer-vote .form-item, .field-name-field-customer-vote .form-item {
  margin-bottom: 0;
  margin-top: 0;
}

/* main-slideshow */
/* line 157, ../sass/view.scss */
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

/* line 162, ../sass/view.scss */
.carousel-control {
  background-color: #0e2127;
  bottom: auto;
  color: #fff;
  font-size: 1em;
  height: 100px;
  margin-top: -50px;
  opacity: 1;
  overflow: hidden;
  text-align: left;
  text-shadow: none;
  top: 50%;
  width: 40px;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
}
/* line 176, ../sass/view.scss */
.carousel-control.left, .carousel-control.right {
  background-image: none;
}
/* line 179, ../sass/view.scss */
.carousel-control.left .fa {
  float: left;
}
/* line 182, ../sass/view.scss */
.carousel-control.right .fa {
  float: right;
}
/* line 185, ../sass/view.scss */
.carousel-control .fa {
  background-color: white;
  color: #0e2127;
  font-size: 2.142em;
  height: 100px;
  line-height: 100px;
  text-align: center;
  width: 40px;
}
/* line 194, ../sass/view.scss */
.carousel-control:hover, .carousel-control:focus {
  opacity: 1;
  width: 390px;
}
/* line 197, ../sass/view.scss */
.carousel-control:hover .fa, .carousel-control:focus .fa {
  background-color: #0e2127;
  color: white;
}

/* line 204, ../sass/view.scss */
.slideshow-thumb {
  float: left;
  width: 350px;
}
/* line 207, ../sass/view.scss */
.slideshow-thumb .views-field, .slideshow-thumb .thumb-caption {
  float: left;
}

/* line 211, ../sass/view.scss */
.thumb-caption {
  font-style: italic;
  padding: 12px 10px 12px 20px;
  width: 250px;
}
/* line 215, ../sass/view.scss */
.thumb-caption .views-field-title-1 {
  font-size: 1em;
  font-family: 'open_sansbold_italic';
}
/* line 219, ../sass/view.scss */
.thumb-caption a {
  color: white;
}
/* line 222, ../sass/view.scss */
.thumb-caption .views-field-body-1 {
  font-size: .857em;
}

/* line 228, ../sass/view.scss */
.views-slideshow-controls-text .views-slideshow-controls-text-previous, .views-slideshow-controls-text .views-slideshow-controls-text-next {
  margin-top: -50px;
  position: absolute;
  top: 50%;
  z-index: 10;
}
/* line 234, ../sass/view.scss */
.views-slideshow-controls-text a {
  background: white;
  display: block;
  height: 100px;
  position: relative;
  text-indent: -9999em;
  width: 40px;
}
/* line 241, ../sass/view.scss */
.views-slideshow-controls-text a:hover, .views-slideshow-controls-text a:focus {
  background: #0e2127;
}
/* line 244, ../sass/view.scss */
.views-slideshow-controls-text a:after {
  font-family: 'FontAwesome';
  font-size: 2.142em;
  line-height: 100px;
  left: 0;
  position: absolute;
  text-align: center;
  text-indent: 0;
  top: 0;
  width: 100%;
}
/* line 256, ../sass/view.scss */
.views-slideshow-controls-text .views-slideshow-controls-text-pause {
  display: none;
}
/* line 259, ../sass/view.scss */
.views-slideshow-controls-text .views-slideshow-controls-text-previous {
  left: 0;
}
/* line 261, ../sass/view.scss */
.views-slideshow-controls-text .views-slideshow-controls-text-previous a:after {
  content: "\f104";
}
/* line 265, ../sass/view.scss */
.views-slideshow-controls-text .views-slideshow-controls-text-next {
  right: 0;
}
/* line 267, ../sass/view.scss */
.views-slideshow-controls-text .views-slideshow-controls-text-next a:after {
  content: "\f105";
}

/* line 273, ../sass/view.scss */
.main-slideshow {
  position: relative;
}
/* line 275, ../sass/view.scss */
.main-slideshow .views_slideshow_slide {
  width: 100% !important;
}
/* line 278, ../sass/view.scss */
.main-slideshow .alo-item-caption {
  bottom: 80px;
  left: 20%;
  position: absolute;
  right: 35%;
}
/* line 283, ../sass/view.scss */
.main-slideshow .alo-item-caption .slideshow-thumb {
  display: none;
}
/* line 288, ../sass/view.scss */
.main-slideshow .views-field-title {
  color: white;
  font-family: 'open_sansbold_italic';
  font-size: 1.5em;
  text-transform: uppercase;
  margin-bottom: 5px;
  text-transform: uppercase;
}
/* line 293, ../sass/view.scss */
.main-slideshow .views-field-title a {
  background: #0e2127;
  color: white;
  padding: 0 10px;
}
/* line 300, ../sass/view.scss */
.main-slideshow .views-field-body p {
  background: #d5d5d5;
  font-family: 'open_sanslight_italic';
  font-size: 1em;
  padding: 0 10px;
}
/* line 306, ../sass/view.scss */
.main-slideshow .views-field-field-book-link a {
  background-color: white;
  border-color: white;
}
/* line 309, ../sass/view.scss */
.main-slideshow .views-field-field-book-link a:hover, .main-slideshow .views-field-field-book-link a:focus {
  border-color: #0e2127;
}

/* alo-special-offers */
/* line 316, ../sass/view.scss */
.offer-info {
  background-color: white;
  padding: 23px 25px 24px;
  text-align: center;
}
/* line 320, ../sass/view.scss */
.offer-info .views-label-commerce-price {
  padding-right: 10px;
}
/* line 323, ../sass/view.scss */
.offer-info .views-field-body p {
  margin-bottom: 10px;
}
/* line 326, ../sass/view.scss */
.offer-info .views-field-commerce-price {
  margin-bottom: 10px;
}
/* line 328, ../sass/view.scss */
.offer-info .views-field-commerce-price div {
  display: inline-block;
}

/* line 334, ../sass/view.scss */
.alo-special-offers {
  overflow: hidden;
}
/* line 336, ../sass/view.scss */
.alo-special-offers > .view-content {
  overflow: hidden;
}
/* line 339, ../sass/view.scss */
.alo-special-offers .view-footer {
  padding-top: 10px;
  text-align: right;
}
/* line 343, ../sass/view.scss */
.alo-special-offers .offer-info, .alo-special-offers .views-field-field-image {
  position: absolute;
}
/* line 346, ../sass/view.scss */
.alo-special-offers .views-row {
  float: left;
  overflow: hidden;
  width: 28%;
}
/* line 351, ../sass/view.scss */
.alo-special-offers .view-row-inner {
  height: 500px;
  position: relative;
}
/* line 355, ../sass/view.scss */
.alo-special-offers .views-field-field-image {
  left: 0;
  margin-bottom: 0;
  overflow: hidden;
  width: 100%;
}
/* line 361, ../sass/view.scss */
.alo-special-offers .views-field-title-1 {
  margin-bottom: 10px;
}
/* line 365, ../sass/view.scss */
.alo-special-offers .views-row-even .views-field-field-image {
  bottom: 0;
}
/* line 368, ../sass/view.scss */
.alo-special-offers .views-row-even .offer-info {
  left: 0;
  top: 0;
}
/* line 182, ../sass/includes/_include.scss */
.alo-special-offers .views-row-even .offer-info:after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: -4px;
  position: absolute;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  left: 50%;
}
/* line 197, ../sass/includes/_include.scss */
.alo-special-offers .views-row-even .offer-info:after {
  border-top: 12px solid;
  border-top-color: white;
  bottom: -12px;
}
/* line 375, ../sass/view.scss */
.alo-special-offers .views-row-odd .offer-info {
  bottom: 0;
  left: 0;
}
/* line 182, ../sass/includes/_include.scss */
.alo-special-offers .views-row-odd .offer-info:after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: -4px;
  position: absolute;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  left: 50%;
}
/* line 206, ../sass/includes/_include.scss */
.alo-special-offers .views-row-odd .offer-info:after {
  border-bottom: 12px solid;
  border-bottom-color: white;
  top: -12px;
}
/* line 380, ../sass/view.scss */
.alo-special-offers .views-row-odd .views-field-field-image {
  top: 0;
}
/* line 384, ../sass/view.scss */
.alo-special-offers .views-row-first {
  width: 44%;
}
/* line 387, ../sass/view.scss */
.alo-special-offers .views-row-first.views-row-odd .offer-info {
  bottom: 30px;
  left: 30px;
  padding-top: 100px;
  right: 30px;
  top: 30px;
}
/* line 393, ../sass/view.scss */
.alo-special-offers .views-row-first.views-row-odd .offer-info:after {
  display: none;
}
/* line 398, ../sass/view.scss */
.alo-special-offers .views-row-first .offer-info {
  -webkit-transition: background-color 0.35s;
  transition: background-color 0.35s;
}
/* line 402, ../sass/view.scss */
.alo-special-offers .views-row-first .offer-info, .alo-special-offers .views-row-first .offer-info .views-field {
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0);
  transform: scale(0);
}
/* line 410, ../sass/view.scss */
.alo-special-offers .views-row-first:hover .offer-info, .alo-special-offers .views-row-first:hover .offer-info .views-field {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* alo-special-offers-2 */
/* line 420, ../sass/view.scss */
.alo-special-offers-2 {
  overflow: hidden;
}
/* line 422, ../sass/view.scss */
.alo-special-offers-2 .grid-inner {
  height: 500px;
  position: relative;
}
/* line 426, ../sass/view.scss */
.alo-special-offers-2 .offer-info, .alo-special-offers-2 .views-field-field-image {
  position: absolute;
  width: 100%;
}
/* line 430, ../sass/view.scss */
.alo-special-offers-2 .views-field-field-image {
  margin-bottom: 0;
}
/* line 433, ../sass/view.scss */
.alo-special-offers-2 .offer-info {
  min-height: 250px;
}
/* line 436, ../sass/view.scss */
.alo-special-offers-2 .views-field-title-1 {
  margin-bottom: 10px;
}
/* line 440, ../sass/view.scss */
.alo-special-offers-2 .col-even .views-field-field-image {
  bottom: 0;
}
/* line 443, ../sass/view.scss */
.alo-special-offers-2 .col-even .offer-info {
  left: 0;
  top: 0;
}
/* line 182, ../sass/includes/_include.scss */
.alo-special-offers-2 .col-even .offer-info:after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: -4px;
  position: absolute;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  left: 50%;
}
/* line 197, ../sass/includes/_include.scss */
.alo-special-offers-2 .col-even .offer-info:after {
  border-top: 12px solid;
  border-top-color: white;
  bottom: -12px;
}
/* line 450, ../sass/view.scss */
.alo-special-offers-2 .col-odd .offer-info {
  bottom: 0;
  left: 0;
}
/* line 182, ../sass/includes/_include.scss */
.alo-special-offers-2 .col-odd .offer-info:after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: -4px;
  position: absolute;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  left: 50%;
}
/* line 206, ../sass/includes/_include.scss */
.alo-special-offers-2 .col-odd .offer-info:after {
  border-bottom: 12px solid;
  border-bottom-color: white;
  top: -12px;
}
/* line 455, ../sass/view.scss */
.alo-special-offers-2 .col-odd .views-field-field-image {
  top: 0;
}

/* alo-main-jcarousel */
/* line 465, ../sass/view.scss */
div.fivestar-widget-static .star,
div.fivestar-widget-static .star span.off,
div.fivestar-widget .star, div.fivestar-widget .star a,
div.fivestar-widget-static .star span.on {
  background-image: url(../images/star.png);
}

/* line 468, ../sass/view.scss */
div.fivestar-widget .cancel, div.fivestar-widget .star, div.fivestar-widget-static .star {
  height: 16px;
}

/* line 471, ../sass/view.scss */
.views-field-field-from-price, .field-name-commerce-price {
  background-color: #0e2127;
  color: white;
  display: table;
  float: right;
  font-family: 'open_sansbold';
  font-size: 1.142em;
  height: 50px;
  margin-top: -12px;
  min-width: 50px;
  padding: 0 8px;
  text-align: center;
}
/* line 483, ../sass/view.scss */
.views-field-field-from-price div, .field-name-commerce-price div {
  display: table-cell;
  vertical-align: middle;
}

/* line 489, ../sass/view.scss */
.alo-main-jcarousel .jcarousel-item {
  margin-right: 30px;
  width: 360px;
}
/* line 493, ../sass/view.scss */
.alo-main-jcarousel .views-field-field-images {
  margin-bottom: 12px;
}
/* line 495, ../sass/view.scss */
.alo-main-jcarousel .views-field-field-images > .field-content {
  position: relative;
}
/* line 96, ../sass/includes/_include.scss */
.alo-main-jcarousel .views-field-field-images > .field-content:after, .alo-main-jcarousel .views-field-field-images > .field-content:before {
  bottom: 10px;
  content: "";
  left: 10px;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 2;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(1);
  transform: scale(1);
}
/* line 109, ../sass/includes/_include.scss */
.alo-main-jcarousel .views-field-field-images > .field-content:before {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
/* line 113, ../sass/includes/_include.scss */
.alo-main-jcarousel .views-field-field-images > .field-content:after {
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
}
/* line 117, ../sass/includes/_include.scss */
.alo-main-jcarousel .views-field-field-images > .field-content:hover:after {
  -webkit-transform: scale(1, 0);
  transform: scale(1, 0);
}
/* line 121, ../sass/includes/_include.scss */
.alo-main-jcarousel .views-field-field-images > .field-content:hover:before {
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}
/* line 499, ../sass/view.scss */
.alo-main-jcarousel .views-field-title {
  padding-right: 55px;
}
/* line 503, ../sass/view.scss */
.alo-main-jcarousel .views-field-body ul {
  overflow: hidden;
  padding: 0;
}
/* line 507, ../sass/view.scss */
.alo-main-jcarousel .views-field-body li {
  display: inline-block;
  float: left;
  margin-bottom: 5px;
  padding-left: 20px;
  position: relative;
  width: 49%;
}
/* line 514, ../sass/view.scss */
.alo-main-jcarousel .views-field-body li:before {
  content: "\f00c  ";
  font-family: 'FontAwesome';
  left: 0;
  position: absolute;
  top: 0;
}
/* line 524, ../sass/view.scss */
.alo-main-jcarousel .view-row-list-inner {
  border-top: 1px solid rgba(14, 33, 39, 0.1);
  padding-top: 30px;
}
/* line 527, ../sass/view.scss */
.alo-main-jcarousel .view-row-list-inner .views-field-field-images {
  float: left;
  margin-bottom: 0;
  margin-right: 30px;
}
/* line 533, ../sass/view.scss */
.alo-main-jcarousel .views-row-first .view-row-list-inner {
  border-top: none;
  padding-top: 0;
}
/* line 537, ../sass/view.scss */
.alo-main-jcarousel .item-group-title {
  margin-bottom: 10px;
  overflow: hidden;
}
/* line 542, ../sass/view.scss */
.alo-main-jcarousel .item-info-wrap .views-field-field-from-price {
  float: left;
  margin: 0 20px 0 0;
}
/* line 546, ../sass/view.scss */
.alo-main-jcarousel .item-info-wrap .views-field-title {
  margin-bottom: 0;
  padding-right: 0;
}
/* line 550, ../sass/view.scss */
.alo-main-jcarousel .item-info-wrap .item-info {
  overflow: hidden;
  padding: 0;
}

/* tab */
/* line 559, ../sass/view.scss */
.ctools-auto-submit-full-form .views-exposed-form .views-exposed-widget {
  float: none;
  margin-bottom: 50px;
  padding: 0;
}
/* line 564, ../sass/view.scss */
.ctools-auto-submit-full-form .form-item {
  text-align: right;
}
/* line 566, ../sass/view.scss */
.ctools-auto-submit-full-form .form-item .form-item {
  display: inline-block;
}
/* line 568, ../sass/view.scss */
.ctools-auto-submit-full-form .form-item .form-item a {
  border: 1px solid #0e2127;
  display: inline-block;
  font-weight: 700;
  font-size: .928em;
  padding: 9px 15px;
  text-transform: uppercase;
}
/* line 575, ../sass/view.scss */
.ctools-auto-submit-full-form .form-item .form-item a:hover, .ctools-auto-submit-full-form .form-item .form-item a:focus {
  background-color: #0e2127;
  color: white;
}
/* line 580, ../sass/view.scss */
.ctools-auto-submit-full-form .form-item .form-item.selected a {
  background-color: #0e2127;
  color: white;
}

/* page-accommodation */
/* line 590, ../sass/view.scss */
.page-accommodation-grid .ctools-auto-submit-full-form .form-item {
  text-align: center;
}

/* alo-main-jcarousel */
/* line 597, ../sass/view.scss */
.not-front .alo-main-jcarousel .views-row {
  margin-bottom: 30px;
  margin-left: -15px;
  margin-right: -15px;
}
/* line 601, ../sass/view.scss */
.not-front .alo-main-jcarousel .views-row .views-col {
  padding-left: 15px;
  padding-right: 15px;
}
/* line 605, ../sass/view.scss */
.not-front .alo-main-jcarousel .views-row .grid-inner {
  background-color: white;
}
/* line 609, ../sass/view.scss */
.not-front .alo-main-jcarousel .views-field-body li {
  display: block;
  float: none;
  width: auto;
}
/* line 614, ../sass/view.scss */
.not-front .alo-main-jcarousel .view-row-list-inner {
  overflow: hidden;
  margin-left: 15px;
  margin-right: 15px;
}

/* line 621, ../sass/view.scss */
.not-front .alo-main-jcarousel-more .views-field-body li {
  display: inline-block;
  float: left;
  width: 49%;
}

/* alo-testimonial */
/* line 629, ../sass/view.scss */
.alo-testimonial .jcarousel-item {
  width: 750px;
}
/* line 631, ../sass/view.scss */
.alo-testimonial .jcarousel-item .jcarousel-item {
  background: white;
  padding: 25px;
  position: relative;
}
/* line 635, ../sass/view.scss */
.alo-testimonial .jcarousel-item .jcarousel-item + .jcarousel-item {
  margin-top: 1px;
}
/* line 639, ../sass/view.scss */
.alo-testimonial .jcarousel-item .views-field-picture {
  border-radius: 50%;
  left: 25px;
  position: absolute;
  top: 25px;
}
/* line 644, ../sass/view.scss */
.alo-testimonial .jcarousel-item .views-field-picture img {
  border-radius: 50%;
}
/* line 648, ../sass/view.scss */
.alo-testimonial .jcarousel-item .info-body {
  padding: 0 0 0 100px;
}
/* line 650, ../sass/view.scss */
.alo-testimonial .jcarousel-item .info-body p {
  margin-bottom: 0;
}
/* line 653, ../sass/view.scss */
.alo-testimonial .jcarousel-item .info-body .views-field-name {
  margin-bottom: 15px;
}
/* line 656, ../sass/view.scss */
.alo-testimonial .jcarousel-item .info-body .username {
  font-family: 'open_sansbold';
}
/* line 658, ../sass/view.scss */
.alo-testimonial .jcarousel-item .info-body .username:before {
  content: "-";
}
/* line 664, ../sass/view.scss */
.alo-testimonial .jcarousel-next, .alo-testimonial .jcarousel-prev {
  display: none;
  top: 45%;
}
/* line 668, ../sass/view.scss */
.alo-testimonial .jcarousel-prev {
  left: -22px;
  right: auto;
}
/* line 672, ../sass/view.scss */
.alo-testimonial .jcarousel-next {
  right: -22px;
}

/* alo-accordion */
/* line 679, ../sass/view.scss */
.alo-accordion .views-row {
  margin-bottom: 20px;
}

/* line 684, ../sass/view.scss */
.ui-widget {
  font-family: 'open_sanslight';
}

/* line 688, ../sass/view.scss */
.ui-accordion .ui-accordion-header {
  border-color: #0e2127;
  font-family: 'open_sanslight';
  font-size: 1em;
  margin-bottom: 0px;
  margin-top: 0;
  padding: 12px 30px 12px 15px;
}
/* line 695, ../sass/view.scss */
.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
  background: none;
  left: auto;
  right: .5em;
  top: 22px;
}
/* line 700, ../sass/view.scss */
.ui-accordion .ui-accordion-header .ui-accordion-header-icon:after {
  content: "+";
  font-size: 1.785em;
  line-height: .6;
  position: absolute;
  right: 0;
  text-indent: 0;
  top: 0;
}
/* line 711, ../sass/view.scss */
.ui-accordion .ui-state-active {
  border-bottom: none;
  margin-bottom: 0;
}
/* line 715, ../sass/view.scss */
.ui-accordion .ui-state-active .ui-accordion-header-icon:after {
  content: "-";
}
/* line 720, ../sass/view.scss */
.ui-accordion .ui-accordion-content {
  background: none;
  border-color: #0e2127;
  border-top: none;
  overflow: visible;
  padding: 0 15px;
}
/* line 727, ../sass/view.scss */
.ui-accordion .ui-accordion-content-active {
  margin-bottom: 0;
}

/* grid-news */
/* line 734, ../sass/view.scss */
.grid-news .views-row {
  margin-bottom: 30px;
  margin-left: -30px;
}
/* line 737, ../sass/view.scss */
.grid-news .views-row .col-inner {
  background-color: white;
  margin-left: 30px;
}
/* line 742, ../sass/view.scss */
.grid-news .views-field-field-image {
  margin-bottom: 25px;
}
/* line 745, ../sass/view.scss */
.grid-news .views-field-title {
  font-size: 1.428em;
  text-transform: none;
}
/* line 749, ../sass/view.scss */
.grid-news .views-field-title a {
  color: #929292;
}
/* line 751, ../sass/view.scss */
.grid-news .views-field-title a:hover, .grid-news .views-field-title a:focus {
  color: #0e2127;
}

/* line 756, ../sass/view.scss */
.item-info {
  padding: 0 30px 30px;
}
/* line 758, ../sass/view.scss */
.item-info .views-field-view-node a {
  border: 1px solid #0e2127;
  display: inline-block;
  min-width: 170px;
  overflow: hidden;
  padding: 10px 15px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  z-index: 2;
}
/* line 224, ../sass/includes/_include.scss */
.item-info .views-field-view-node a:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  width: 100%;
  height: 0;
  top: 50%;
  left: 50%;
  background: #0e2127;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -moz-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}
/* line 242, ../sass/includes/_include.scss */
.item-info .views-field-view-node a:hover, .item-info .views-field-view-node a:focus, .item-info .views-field-view-node a:hover:after {
  color: white;
  height: 460%;
  opacity: 1;
}

/* line 762, ../sass/view.scss */
.item-meta {
  font-size: .857em;
  margin-bottom: 25px;
}
/* line 765, ../sass/view.scss */
.item-meta div {
  display: inline-block;
}
/* line 768, ../sass/view.scss */
.item-meta > div + div {
  border-left: 1px solid #e2e1e1;
  margin-left: 5px;
  padding-left: 10px;
}

/* list-article */
/* line 777, ../sass/view.scss */
.list-article .views-field-title, .list-article h2 {
  font-family: 'open_sansbold';
  font-size: 1.428em;
  text-transform: none;
}
/* line 782, ../sass/view.scss */
.list-article .node, .list-article .views-row {
  margin-bottom: 30px;
}
/* line 785, ../sass/view.scss */
.list-article .views-field-type-image, .list-article .field-name-field-image {
  margin-bottom: 0;
}
/* line 788, ../sass/view.scss */
.list-article ul.inline {
  overflow: hidden;
}
/* line 790, ../sass/view.scss */
.list-article ul.inline:before {
  background-color: white;
}
/* line 794, ../sass/view.scss */
.list-article ul.inline li {
  float: left;
  padding: 0 10px 0 0;
}
/* line 797, ../sass/view.scss */
.list-article ul.inline li + li {
  border-left: 1px solid #e2e1e1;
  margin: 10px 0 0 5px;
  padding-left: 10px;
}
/* line 804, ../sass/view.scss */
.list-article .group-info {
  background-color: white;
  padding: 30px;
}

/* line 809, ../sass/view.scss */
.node-readmore a, .list-article .views-field-view-node a {
  border: 1px solid #0e2127;
  display: inline-block;
  min-width: 170px;
  overflow: hidden;
  padding: 10px 15px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  z-index: 2;
}
/* line 224, ../sass/includes/_include.scss */
.node-readmore a:after, .list-article .views-field-view-node a:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  width: 100%;
  height: 0;
  top: 50%;
  left: 50%;
  background: #0e2127;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -moz-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}
/* line 242, ../sass/includes/_include.scss */
.node-readmore a:hover, .node-readmore a:focus, .node-readmore a:hover:after, .list-article .views-field-view-node a:hover, .list-article .views-field-view-node a:focus, .list-article .views-field-view-node a:hover:after {
  color: white;
  height: 460%;
  opacity: 1;
}

/* list-types */
/* line 814, ../sass/view.scss */
.list-types .views-row {
  background-color: white;
  padding: 30px;
}
/* line 818, ../sass/view.scss */
.list-types .views-field-type-image, .list-types .field-name-field-image {
  margin-bottom: 25px;
}

/* sidebar */
/* line 823, ../sass/view.scss */
.latest-views {
  color: #929292;
}
/* line 825, ../sass/view.scss */
.latest-views .views-row {
  overflow: hidden;
  padding: 20px 10px 20px 20px;
}
/* line 828, ../sass/view.scss */
.latest-views .views-row + .views-row {
  border-top: 1px solid #f8f8f8;
}
/* line 832, ../sass/view.scss */
.latest-views .views-field-type-image {
  float: left;
  margin: 0 15px 0 0;
}
/* line 836, ../sass/view.scss */
.latest-views .views-field-title {
  font-size: 1em;
  margin-bottom: 5px;
  text-transform: none;
}
/* line 840, ../sass/view.scss */
.latest-views .views-field-title a {
  color: #929292;
}
/* line 842, ../sass/view.scss */
.latest-views .views-field-title a:hover, .latest-views .views-field-title a:focus {
  color: #0e2127;
}

/* support */
/* line 850, ../sass/view.scss */
.support {
  background-color: #0e2127;
  color: white;
  padding: 20px 10px 5px 20px;
}
/* line 854, ../sass/view.scss */
.support li {
  font-size: .928em;
  margin-bottom: 5px;
}
/* line 858, ../sass/view.scss */
.support a {
  color: white;
}

/* alo-act-grid */
/* line 865, ../sass/view.scss */
.alo-act-grid .views-row, .our-team .views-row {
  margin-bottom: 30px;
  margin-left: -30px;
}
/* line 868, ../sass/view.scss */
.alo-act-grid .views-row .col-inner, .our-team .views-row .col-inner {
  margin-left: 30px;
}
/* line 872, ../sass/view.scss */
.alo-act-grid .views-field-title, .our-team .views-field-title {
  font-size: 1.142em;
  margin-bottom: 5px;
}

/* line 878, ../sass/view.scss */
.our-team {
  padding-bottom: 50px;
}
/* line 881, ../sass/view.scss */
.our-team .col-inner {
  background-color: white;
  padding: 30px;
  text-align: center;
}
/* line 886, ../sass/view.scss */
.our-team .views-field-field-position {
  color: #999;
  margin-bottom: 15px;
  text-transform: uppercase;
}
/* line 891, ../sass/view.scss */
.our-team .views-field-field-mobile, .our-team p {
  margin-bottom: 15px;
}
/* line 894, ../sass/view.scss */
.our-team .views-field-field-mobile {
  color: #999;
}
/* line 896, ../sass/view.scss */
.our-team .views-field-field-mobile .field-content:before {
  content: "\f095  ";
  font-family: 'FontAwesome';
}
/* line 901, ../sass/view.scss */
.our-team .views-field-type-image img {
  border-radius: 50%;
}

/* line 907, ../sass/view.scss */
.group-social-info div {
  display: inline-block;
}
/* line 910, ../sass/view.scss */
.group-social-info a {
  color: #999;
  display: block;
  height: 45px;
  line-height: 42px;
  position: relative;
  text-indent: -9999em;
  width: 45px;
}
/* line 918, ../sass/view.scss */
.group-social-info a:before {
  font-family: 'FontAwesome';
  height: 100%;
  left: 0;
  position: absolute;
  text-align: center;
  text-indent: 0;
  top: 0;
  width: 100%;
}
/* line 928, ../sass/view.scss */
.group-social-info a:hover, .group-social-info a:focus {
  background-color: #0e2127;
  color: white;
}
/* line 931, ../sass/view.scss */
.group-social-info a:hover:before, .group-social-info a:focus:before {
  color: white;
}
/* line 936, ../sass/view.scss */
.group-social-info .team-member-email:before {
  content: "\f003";
}
/* line 939, ../sass/view.scss */
.group-social-info .team-member-facebook:before {
  content: "\f09a";
}
/* line 942, ../sass/view.scss */
.group-social-info .team-member-googleplus:before {
  content: "\f0d5";
}
/* line 945, ../sass/view.scss */
.group-social-info .team-member-twitter:before {
  content: "\f099";
}
/* line 948, ../sass/view.scss */
.group-social-info .team-member-thumblr:before {
  content: "\f173";
}

/* line 953, ../sass/view.scss */
.view-header {
  margin-bottom: 30px;
}

/* activities */
/* line 958, ../sass/view.scss */
.page-activities .main {
  padding-bottom: 0;
}

/* line 961, ../sass/view.scss */
.alo-act-jcarousel {
  background: white;
  padding: 30px;
}
/* line 965, ../sass/view.scss */
.alo-act-jcarousel .jcarousel-skin-default .jcarousel-item {
  width: 1080px;
}
/* line 968, ../sass/view.scss */
.alo-act-jcarousel .jcarousel-skin-default .jcarousel-next, .alo-act-jcarousel .jcarousel-skin-default .jcarousel-prev {
  top: 0;
}
/* line 972, ../sass/view.scss */
.alo-act-jcarousel .activity-info-body, .alo-act-jcarousel .views-field-type-image {
  float: left;
  width: 50%;
}
/* line 976, ../sass/view.scss */
.alo-act-jcarousel .views-field-type-image {
  margin-top: 65px;
  text-align: right;
}
/* line 979, ../sass/view.scss */
.alo-act-jcarousel .views-field-type-image > .field-content {
  margin-left: 30px;
  position: relative;
}
/* line 96, ../sass/includes/_include.scss */
.alo-act-jcarousel .views-field-type-image > .field-content:after, .alo-act-jcarousel .views-field-type-image > .field-content:before {
  bottom: 10px;
  content: "";
  left: 10px;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 2;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(1);
  transform: scale(1);
}
/* line 109, ../sass/includes/_include.scss */
.alo-act-jcarousel .views-field-type-image > .field-content:before {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
/* line 113, ../sass/includes/_include.scss */
.alo-act-jcarousel .views-field-type-image > .field-content:after {
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
}
/* line 117, ../sass/includes/_include.scss */
.alo-act-jcarousel .views-field-type-image > .field-content:hover:after {
  -webkit-transform: scale(1, 0);
  transform: scale(1, 0);
}
/* line 121, ../sass/includes/_include.scss */
.alo-act-jcarousel .views-field-type-image > .field-content:hover:before {
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}

/* option-set */
/* line 987, ../sass/view.scss */
#isotope-options {
  background-color: transparent;
}

/* line 990, ../sass/view.scss */
.option-set {
  list-style: none;
  padding: 0;
  text-align: center;
}
/* line 994, ../sass/view.scss */
.option-set li {
  display: inline-block;
}
/* line 996, ../sass/view.scss */
.option-set li a {
  border: 1px solid #0e2127;
  display: inline-block;
  font-weight: 700;
  font-size: .928em;
  padding: 9px 15px;
  text-transform: uppercase;
}
/* line 1003, ../sass/view.scss */
.option-set li a:hover, .option-set li a:focus {
  background-color: #0e2127;
  color: white;
}
/* line 1007, ../sass/view.scss */
.option-set li a.selected {
  background-color: #0e2127;
  color: white;
}

/* line 1015, ../sass/view.scss */
.isotope-element {
  background: none;
  height: auto;
  margin: 0;
  width: 25%;
}
/* line 1020, ../sass/view.scss */
.isotope-element .views-field-field-image {
  margin-bottom: 0;
}
/* line 1023, ../sass/view.scss */
.isotope-element a {
  display: block;
  position: relative;
}
/* line 1026, ../sass/view.scss */
.isotope-element a:before {
  background-color: rgba(0, 0, 0, 0);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-transition: background-color 0.35s;
  transition: background-color 0.35s;
}
/* line 1037, ../sass/view.scss */
.isotope-element a:after {
  border: 1px solid white;
  content: "+";
  font-size: 2.142em;
  height: 45px;
  line-height: 42px;
  left: 50%;
  margin: -23px 0 0 -23px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 45px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0);
  transform: scale(0);
}
/* line 1055, ../sass/view.scss */
.isotope-element a:hover:before {
  background-color: rgba(0, 0, 0, 0.7);
}
/* line 1058, ../sass/view.scss */
.isotope-element a:hover:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
/* line 1064, ../sass/view.scss */
.isotope-element img {
  width: 100%;
}

/**/
/* line 1069, ../sass/view.scss */
.gmap-contact {
  margin-bottom: 25px;
}
