@import "includes/_include";

.title, #page-title {
	@include bold_italic_30;
	margin-bottom: 25px;
	@include title-line;
	span {
		background: white;
		padding-right: 10px;
		position: relative;
		z-index: 1;
	}
}

.bg-black {
	@include bg_dark;
	a{
		color: $minor-color;
		&:hover, &:focus{
			color: #fff;
		}
	}
}

.bg-grey {
	@include bg_grey;
	.title span, #page-title span {
		@include bg_grey;
	}
}

.bg-white {
	background-color: white;
}

#page{
	background-color: #fff;
	overflow: hidden;
	position: relative;
}

/* headline */
.headline {
	@extend .bg-black;
}


/* header */
#logo {
	display: block;
	padding: 30px 0 29px;
	position: relative;
    z-index: 1;
}

/* booking */
#booking {
	padding: 40px 0;
	text-transform: uppercase;
	background-color: #fff;
	label, th {
		@include font_bold;
	}
}
.front #booking h2 {
	display: none;
}
.rooms-availability-search {
	.form-submit {
		background-color: #929292;
		border-color: #929292;
		color: white;
		&:hover, &:focus {
			background-color: $main-color;
			border-color: $main-color;
		}
	}
	#edit-actions {
		margin-top: 26px;
	}
	select {
		height: 45px;
		width: 70px;
	}
}

.rooms-date-range {
	.start-date {
		margin-right: 17px;
	}
	.container-inline-date .form-item input {
		height: 45px;
		width: 238px;
	}
	.date-padding .form-item {
		position: relative;
		&:after {
			content: "\f073";
			font-family: 'FontAwesome';
			position: absolute;
			right: 15px;
			top: 12px;
		}
	}
}

.rooms-availability-search .form-item-group-size-children,
.rooms-availability-search .form-item-group-size-adults,
.rooms-availability-search .form-item-unit-type,
.rooms-availability-search .form-item-rooms {
	margin: 0 17px 0 0;
}

.rooms-management-form .form-type-select,
.rooms-management-form .form-item-operation,
.rooms-management-form .form-item-amount,
.rooms-management-form .rooms-date-range {
	margin: 0 17px 0 0;
}
.rooms-management-form .form-actions {
	padding-top: 1.8em;
}
.rooms-availability-search .rooms-group, .rooms-management-form .form-actions {
	margin: 0;
}

.rooms-group-size .rooms-group-size__children {
    padding-left: 30px;
}

/* slideshow */

/* main */
.main {
	@extend .bg-grey;
	padding: 60px 0;
	.title span {
		@extend .bg-grey;
	}
}

/* panel-first */
#panel-first {
	padding: 60px 0;
}

#rooms-booking-manager-change-search-form legend, #booking h2, #panel-second h2, .bg-grey h2, .slideshow h2 {
	@extend .title;
}

/* panel-second */
.front #panel-second {
	padding: 60px 0;
}
#panel-second{
	background-color: #fff;
}

/* panel-fifth */
#panel-fifth {
	padding: 80px 0;
}

/* panel-footer */
#panel-footer,
#footer {
	@include size_13;
}

#panel-footer {
	padding: 60px 0 15px;
	h2 {
		@include font_bold;
		@include size_14;
		color: white;
		text-transform: uppercase;
	}
}

.panel-column {
	ul.menu {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			list-style-image: none;
			list-style-type: none;
			margin: 0;
			padding: 0 0 2px 8px;
			position: relative;
			&:before {
				content: "\f105";
				font-family: 'FontAwesome';
				left: 0;
				position: absolute;
				top: 0px;
			}
			&:hover, &:focus {
				&:before { color: white; }
				a {
					color: white;
				}
			}
		}
		a {
			color: $minor-color;
			&:hover, &:focus {
				color: white;
			}
		}
	}
}

/* tags */
.tagclouds-term a {
  border: 1px solid $minor-color;
  color: $minor-color;
  display: inline-block;
  margin: 0 2px 5px 0;
  padding: 3px 10px;
  text-transform: capitalize;
  @include transition;
  &:hover, &:focus {
  	border-color: white;
	color: white;
  }
}

.tagclouds.level1,
.tagclouds.level2,
.tagclouds.level3,
.tagclouds.level4,
.tagclouds.level5,
.tagclouds.level6,
.tagclouds.level7,
.tagclouds.level8,
.tagclouds.level9,
.tagclouds.level10 {
	font-size: .923em;
	@include transition;
}

/* newsletter */
.simplenews-subscribe {
	position: relative;
	.form-item {
		margin: 0;
		position: relative;
		&:after {
			content: "\f1d8";
			font-family: 'FontAwesome';
			@include size_14;
			right: 0;
			line-height: 45px;
			position: absolute;
			text-align: center;
			text-indent: 0;
			top: 0;
			width: 45px;
		}
		&:hover:after, &:focus:after {
			color: white;
		}
	}
	.form-text {
		border-color: #929292;
		height: 45px;
		padding-right: 45px;
		text-transform: uppercase;
		width: 100%;
	}
	label {
		font-size: .857em;
		display: none;
	}
	.form-submit {
		background: none;
		border: none;
		height: 45px;
		min-width: 0;
		position: absolute;
		right: 0;
		text-indent: -99999em;
		top: 0;
		width: 45px;
		&:hover, &:focus {
			background: none;
			border: none;
		}
	}
}
.simplenews-unsubscribe .form-submit {
	border-color: $minor-color;
	color: $minor-color;
	width: 100%;
	&:hover, &:focus {
		background-color: $minor-color !important;
		color: $main-color !important;
	}
}
.logged-in .simplenews-subscribe .form-submit {
	border: 1px solid $minor-color;
	color: $minor-color;
	position: static;
	text-indent: 0;
	width: 100%;
	&:hover, &:focus {
		background-color: $minor-color;
		color: $main-color;
	}
}
/* footer */
#footer {
	padding-bottom: 30px;
	text-align: center;
	a {
		color: $minor-color;
		&:hover, &:focus {
			color: white;
		}
	}
	.social-list {
		@extend .bg-black;
		display: inline-block;
		font-size: 1.076em;
		padding: 0 20px;
	}
	p a {
		@include font_bold;
	}
}

.line-through {
	margin-bottom: 30px;
	position: relative;
	@include line-through;
}

.social-list {
	margin: 0;
	position: relative;
    z-index: 1;
	> li {
		padding-left: 0;
		padding-right: 0;
	}
	a {
		display: block;
		height: 45px;
		line-height: 45px;
		text-align: center;
		width: 45px;
		span {
			display: none;
		}
		&:hover, &:focus {
			background-color: rgba(white,.05);
		}
	}
}

/* title-wrapper */
#title-wrapper {
	background: url(../images/bg-title.jpg) no-repeat $minor-color;
	background-size: cover;
	> .container {
		display: table;
		height: 150px;
	}
	#page-title {
		color: white;
		display: table-cell;
		text-align: center;
		vertical-align: middle;
		span {
			background: none;
		}
		&:after {
			display: none;
		}
	}
}

.not-front .main {
	.sidebar h2 {
		@include size_20;
		margin-bottom: 20px;
	}
	#content h2:after {
		display: none;
	}
}

/* aloha-services */
.aloha-services {
	list-style: none;
	margin-bottom: 0;
	margin-left: -15px;
    margin-right: -15px;
	overflow: hidden;
	padding: 0;
	h2 {
		@include font_bold;
		@include size_20;
	}
	.fa, .glyphicon {
		font-size: 4.285em;
		margin-bottom: 25px;
	}
	a {
		color: white;
		&:hover, &:focus {
			color: $minor-color;
		}
	}
	li {
		display: table;
		float: left;
		height: 470px;
		padding-left: 15px;
		padding-right: 15px;
		width: 33.333%;
	}
	.service-item {
		background-color: #929292;
		color: white;
		display: table-cell;
		padding: 20px 30px;
		position: relative;
		text-align: center;
		vertical-align: middle;
		&:hover {
			background-color: $main-color;
		}
	}
}

/* tabs primary */
ul.primary {
	border-bottom: none;
	color: #929292;
	@include font_bold_italic;
	@include size_12;
	margin: 0 0 20px;
    padding: 0;
	text-align: center;
	text-transform: uppercase;
	li {
		display: inline-block;
		margin-right: 10px;
		vertical-align: middle;
		a {
			@include bg_grey;
			border: none;
			color: #929292;
			display: block;
			margin-right: 0;
			padding: 0;
			&:hover, &:focus {
				@include bg_grey;
			}
		}
		&.active a {
			@include bg_grey;
			border: none;
			color: $main-color;
			font-size: 1.666em;
		}
		+ li {
			@include title-line;
			padding-left: 60px;
			a {
				@include bg_grey;
				padding-left: 10px;
				position: relative;
				z-index: 1;
			}
		}
	}
}
ul.secondary {
    border-bottom: none;
    margin: 0 auto 30px;
    padding: 0;
	width: 60%;
	li {
		border-right: none;
		display: inline-block;
		padding: 0;
		a {
			border: 1px solid $main-color;
			display: inline-block;
			font-weight: 700;
			@include size_13;
			padding: 9px 15px;
			text-transform: uppercase;
			&:hover, &:focus {
				background-color: $main-color;
				color: white;
			}
		}
		&.active .active {
			background-color: $main-color;
			border-bottom-color: $main-color;
			border-bottom-width: 1px;
			color: white;
		}
	}
}
#user-profile-form {
	background-color: white;
	margin: 0 auto;
	padding: 30px;
	width: 60%;
	legend {
		margin-bottom: 0;
	}
	.form-item {
		label { display: block; }
		.form-text, .form-select {
			height: 45px;
			width: 100%;
		}
		div.password-suggestions {
			width: 100%;
		}
		.form-radio, .form-checkbox {
			margin: 0;
		}
	}
	.form-type-checkbox, .form-type-radio {
		label {
			display: inline-block;
		}
	}
	.confirm-parent, .password-parent {
		clear: none;
		width: 100%;
	}
}
.commerce-paypal-icons {
	padding-top: 20px;
	.label {
		color: $main-color;
		padding: 0;
	}
}
html.js fieldset.collapsible .fieldset-legend {
	background: none;
	padding-left: 0;
}
/* page-accommodation */
#content{
	.region-content{
		clear: both;
	}
}
.menu-type{
	float: right;
}
.view-type{
	float: left;
	margin-bottom: 50px;
	ul.menu li {
		display: inline-block;
		margin-right: -4px;
		padding: 0;
		a {
			display: block;
			height: 40px;
			line-height: 40px;
			position: relative;
			width: 40px;
			text-indent: -9999em;
			&:before {
				height: 100%;
				left: 0;
				position: absolute;
				text-align: center;
				text-indent: 0;
				top: 0;
				width: 100%;
			}
			&:hover, &:focus, &.active-trail {
				background-color: $main-color;
				color: white;
			}
		}
	}
}

.submitted {
	@include size_12;
	@include font_regular_italic;
	color: $minor-color;
	margin-bottom: 20px;
	margin-top: 10px;
	> span + span {
		margin-left: 15px;
	}
}
.owl-carousel {
	@extend .bg-white;
	.owl-wrapper img {
		height: auto;
		max-width: 100%;
	}
}
.owl-theme {
	@include box-border;
	.owl-controls {
		margin-top: 0;
		text-align: center;
		.owl-buttons {
			left: 0;
			margin-top: -50px;
			position: absolute;
			top: 50%;
			width: 100%;
			z-index: 2;
			div {
				background: white;
				border-radius: 0;
				color: $main-color;
				@include size_30;
				margin: 0;
				opacity: 1;
				padding: 0;
				height: 100px;
				position: relative;
				text-indent: -9999em;
				width: 40px;
				&:hover, &:focus {
					background: $main-color;
					color: white;
				}
				&:after {
					font-family: 'FontAwesome';
					line-height: 100px;
					left: 0;
					position: absolute;
					text-align: center;
					text-indent: 0;
					top: 0;
					width: 100%;
				}
			}
			.owl-prev {
				float: left;
				margin-left: 11px;
				&:after {
					content: "\f104";
				}
			}
			.owl-next {
				float: right;
				margin-right: 10px;
				&:after {
					content: "\f105";
				}
			}
		}
	}
}
#comments {
	@extend .bg-white;
	padding: 30px;
    margin-top: 0;
	.title {
		@include size_20;
	}
}

/* comment */
ul.inline li.comment-add {
	float: right;
	margin: 0;
	padding: 0;
	a {
		color: $main-color;
		&:hover, &:focus {
			color: $minor-color;
		}
	}
}
.comment {
	border-top: 1px solid #e2e1e1;
	margin-bottom: 30px;
	padding: 30px 0 0 100px;
	position: relative;
	.user-picture {
		border-radius: 50%;
		left: 0;
		position: absolute;
		top: 30px;
		img {
			border-radius: 50%;
		}
	}
	> h3 {
		@include size_14;
		@include font_bold;
		margin-bottom: 10px;
	}
	.submitted {
		margin-bottom: 10px;
		margin-top: 0;
	}
	ul.inline li {
		padding: 0;
		+ li {
			border-left: 1px solid #e2e1e1;
			margin-left: 5px;
			padding-left: 10px;
		}
	}
}
.indented {
	margin-left: 100px;
}
/* form comment */
form.comment-form {
	background-color: white;
	margin-bottom: 50px;
	margin-top: -30px;
	padding: 30px;
	label {
		display: block;
	}
	.form-text {
		height: 45px;
	}
	.filter-wrapper .form-item {
		padding-left: 0;
	}
	.tips {
		margin-top: 20px;
		padding-left: 0;
	}
	.form-actions {
		.form-submit {
			margin-right: 15px;
		}
	}
}

.comment-wrapper form.comment-form {
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}
#comment-confirm-delete {
	.form-submit {
		margin-right: 15px;
	}
}
.item-featured {
	border: 1px solid $main-color;
	margin-bottom: 30px;
	padding: 30px;
	h3 {
		@include size_14;
		font-weight: 700;
		text-transform: uppercase;
	}
	ul {
		list-style: none;
		margin: 0 -30px;
		padding: 0;
	}
	li {
		padding: 2px 30px 2px 50px;
		position: relative;
		&:before {
			content: "\f00c  ";
			font-family: 'FontAwesome';
			left: 30px;
			@include absolute;
			top: 2px;
		}
		&:nth-child(even) {
			background-color: white;
		}
		&:nth-child(odd) {
			background-color: #f2f2f2;
		}
	}
}

/* chosen search */
.chosen-container {
    font-size: .857em;
	width: 100% !important;
	.chosen-drop {
		border-color: $main-color;
		border-right-color: $main-color;
		box-shadow: none;
	}
	.chosen-results {
		margin: 0;
		padding: 0;
		li{
			padding: 8px 15px;
			&.highlighted {
				background-color: $main-color;
				background-image: none;
			}
		}
	}
}
.chosen-container-single {
	.chosen-search {
		display: none;
	}
	.chosen-default {
		color: $main-color;
	}
	.chosen-single {
		background: none;
		border-color: $main-color;
		border-radius: 0;
		box-shadow: none;
		color: $main-color;
		height: 45px;
		line-height: 3.4;
		padding: 0 0 0 15px;
		abbr, div b {
			background-image: url('../images/chosen-sprite.png');
		}
		div {
			right: 7px;
			width: 16px;
		}
	}
	.chosen-drop {
		border-radius: 0;
	}
}

.chosen-container-active.chosen-with-drop .chosen-single {
	background-color: transparent;
    background-image: none;
    border-color: $main-color;
    box-shadow: none;
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
	background-image: url('../images/chosen-sprite.png');
}

/* pager */
.item-list .pager {
	margin: 0;
	padding: 25px 0 0;
	li {
		display: inline-block;
		margin: 5px 0 0;
		min-width: 40px;
		padding: 0;
	}
}
.pager li {
	> a, > span {
		border: none;
		border-radius: 0;
		display: inline-block;
		min-width: 40px;
		padding: 11px;
		&:hover, &:focus {
			background-color: $main-color;
			color: white;
		}
	}
	&.pager-current {
		background-color: $main-color;
		color: white;
		padding: 11px;
	}
}

/* iframe-map */
.iframe-map iframe {
	border: none;
	width: 100%;
}

/* contact-form */
.contact-form {
	background: white;
	margin-bottom: 50px;
	padding: 30px;
	.form-text {
		height: 45px;
	}
	.form-submit {
		background-color: $main-color;
		color: white;
		&:hover, &:focus {
			background-color: transparent;
			border-color: $main-color;
			color: $main-color;
		}
	}
	.form-checkbox{
		margin-top: -4px;
	}
}

.page-contact .block h2, .node-type-webform .block h2 {
	font-size: 1em;
	span {
		background-color: transparent;
	}
	&:after {
		display: none;
	}
}

.page-contact .contact-form {
	.form-item {
		label {
			display: block;
		}
	}
	.form-type-checkbox label {
		display: inline-block;
	}
	.form-textarea-wrapper {
		width: 50%;
	}
}

/* aloha-timeline */
.not-front #panel-second, .not-front #panel-third {
	@extend .bg-grey;
}

.aloha-timeline {
	.item-list ul {
		border-bottom: 1px solid #d2d0d0;
		list-style: none;
		overflow: hidden;
		margin-bottom: 63px;
		padding: 0 0 30px;
		position: relative;
		&:after {
			background-color: #d2d0d0;
			content: "";
			height: 100%;
			left: 50%;
			position: absolute;
			top: 0;
			width: 1px;
		}
	}
	.views-field-field-image {
		margin-bottom: 25px;
	}
	.views-field-field-year {
		@include font_bold;
		font-weight: 700;
		line-height: 1.3;
		position: absolute;
		top: 100px;
		&:before, &:after {
			border-radius: 50%;
			content: "";
			position: absolute;
			z-index: 3;
		}
		&:after {
			background-color: $main-color;
			border: 2px solid #d2d0d0;
			height: 19px;
			padding: 2px;
			bottom: 11px;
			width: 19px;
		}
		&:before {
			background-color: #d2d0d0;
			height: 7px;
			bottom: 17px;
			width: 7px;
		}
		> div {
			padding: 0 12px 25px;
			position: relative;
			z-index: 1;
			&:after {
				background-color: #d2d0d0;
				content: "";
				height: 1px;
				left: 0;
				position: absolute;
				top: 50%;
				width: 100%;
				z-index: 2;
			}
		}
	}
	.views-row {
		margin: 0 0 30px;
		position: relative;
		width: 50%;
	}
	.views-row-inner {
		background-color: white;
	}
	.views-row-odd {
		float: left;
		.views-row-inner {
			margin-right: 85px;
		}
		.views-field-field-year {
			right: 0;
			&:after {
				right: -10px;
			}
			&:before {
				left: 0;
			}
		}
	}
	.views-row-even {
		float: right;
		margin-bottom: 50px;
		.views-row-inner {
			margin-left: 85px;
		}
		.views-field-field-year {
			left: 0;
			top: 160px;
			&:after {
				left: -10px;
			}
			&:before {
				right: 0;
			}
		}
	}

}

/* page-booking
.page-booking {
	.rooms-availability-search {
		.rooms-date-range {
			float: none;
			margin: 0 0 20px;
		}
		select {
			width: 109px;
		}
		#edit-actions {
			clear: both;
			float: none;
			margin-top: 0;
			padding-top: 25px;
		}
	}
}*/

/* 404page */
.page-404 {
	text-align: center;
	h1 {
		@include font_bold;
		font-size: 16.357em;
	}
}
#errorbox a {
	@include btn-effect;
}
/* .profile */
.profile {
	h3 {
		@include bold_20;
		border-bottom: none;
	}
	.user-picture {
		float: left;
		margin: 0 20px 30px 0;
		img {
			border: 1px solid $minor-color;
		}
	}
}

/* commerce-line-item-views-form */
.commerce-line-item-views-form {
	input.form-text, input.delete-line-item {
		padding: 10px 15px;
		text-align: center;
	}
	input.delete-line-item {
		min-width: 0;
	}
}
.views-table, .sticky-header, .sticky-table, .weather table {
	border-top: 15px solid $main-color;
	width: 100%;
	thead th {
		text-transform: uppercase;
	}
	tbody {
		border-bottom: 15px solid $main-color;
	}
	th, td {
		background-color: white;
		padding: 15px;
	}
	td {
		vertical-align: middle;
	}
}
.weather table {
	border-bottom: 15px solid $main-color;
}
.line-item-summary {
	background-color: $main-color;
	color: white;
	@include font_bold;
	margin-bottom: 30px;
	padding: 15px;
	text-transform: uppercase;
}
.line-item-total-label {
	padding-right: 50px;
}
.line-item-total-raw {
	font-size: 3.571em;
}
.sticky-table {
	margin-bottom: 30px;
}
.commerce-line-item-actions {
	margin: 0;
	padding: 0 0 30px;
	.form-submit {
		margin-left: 20px;
	}
}
.customer_profile_billing, .checkout-buttons {
	> .fieldset-wrapper {
		background-color: white;
		padding: 30px;
	}
	.button-operator {
		padding: 0 20px;
	}
}
.customer_profile_billing {
	.form-item {
		width: 60%;
	}
	label {
		width: 100px;
	}
	.form-text {
		height: 45px;
		width: 50%;
	}
	.chzn-container {
		width: 50% !important;
	}
	.form-select{
		height: 45px;
		width: 50%;
	}
}

.checkout-help {
	margin-bottom: 15px;
}
.commerce-order-handler-area-order-total .commerce-price-formatted-components {
	color: white;
	width: 100%;
	tr.even, tr.odd {
		background-color: $main-color;
		border-bottom: none;
		padding: 15px;
		text-align: right;
	}
	.component-title {
		text-transform: uppercase;
		vertical-align: middle;
		width: 70%;
	}
	.component-total {
		@include font_bold;
		font-size: 3.571em;
		padding-right: 15px;
	}
}
.commerce-line-item-views-form .form-actions {
	margin-top: 30px;
}
table.checkout-review {
	width: 100%;
	tr.even, tr.odd {
		background-color: white;
		border-bottom: none;
		padding: 0;
	}
	tr.pane-title {
		background-color: transparent;
		td {
			font-size: 1.428em;
			@include font_bold;
			padding: 15px 0;
			text-transform: uppercase;
		}
	}
	.pane-data-full {
		padding-left: 0;
		padding-right: 0;
		.form-item, .field-name-commerce-customer-address {
			padding: 7px 15px;
		}
		.field-item > div {
			padding: 7px 0;
		}
	}
}
.commerce_payment {
	margin-top: 20px;
	> .fieldset-wrapper {
		background-color: white;
		padding: 15px;
		.form-item {
			margin-bottom: 15px;
			overflow: hidden;
		}
		.form-radio, .option {
			float: left;
		}
		.form-radio {
			margin-right: 10px;
			margin-top: 5px;
		}
		.option { 
			width: 90%;
		}
	}
}
.commerce-paypal-ec-icon, .commerce-paypal-bml-icon, .commerce-paypal-icon {
	top: 0;
}
.commerce-credit-card-expiration {
	.form-text {
		height: 45px;
	}
}

/* newsletter-manage-subscriptions-form */
#newsletter-manage-subscriptions-form, #contact-personal-form {
	background-color: white;
	margin: 0 auto;
    padding: 30px;
    width: 50%;
	legend {
		font-size: 1em;
		margin: 0;
	}
	label {
		display: block;
	}
	.form-type-item label, .option {
		display: inline-block;
	}
	.form-checkboxes {
		display: inline-block;
	}
	.form-text {
		height: 45px;
	}
	.form-text {
		width: 100%;
	}
}
/* contact-personal-form */

/* rooms-search-result__unit-type */
#rooms-booking-manager-change-search-form {
	.fieldset-legend {
		text-transform: uppercase;
	}
	.rooms-current-search__info {
		float: none;
		margin-bottom: 50px;
		.form-item label {
			float: none;
			text-align: left;
		}
	}
	.fieldset-wrapper {
		background-color: white;
		padding: 20px;
		.form-item {
			display: inline-block;
			padding: 10px 0;
			text-align: left;
			width: 25%;
		}
	}
	.rooms-current-search__change-search-button {
		float: none;
		margin-left: 0;
	}
}
.rooms-search-result__unit-type-name {
    border-top: none;
	clear: both;
	@include bold_italic_30;
	margin-left: 30px;
    margin-top: 0;
    padding-top: 0;
}
.rooms-search-result__unit-type {
	margin-left: -30px;
	overflow: hidden;
	.rooms-search-result__unit-embedded {
		float: left;
		width: 33.333%;
		.rooms-search-result__new-price, .rooms-search-result__actions {
			clear: none;
			float: none;
		}
		.rooms-search-result__new-price {
			margin-bottom: 20px;
		}
	}
	h2 {
		@include size_16;
	}
	.entity-rooms-unit, .rooms-book-unit-form {
		margin-left: 30px;
	}
	.field-type-image {
		.field-item {
			@include box-border;
		}
	}
	.field-name-field-description {
		background-color: white;
		padding: 20px 30px;
	}
	.rooms-book-unit-form {
		background-color: white;
		padding: 0 30px 30px;
		input[type="radio"], input[type="checkbox"] {
			margin: 0 0 4px;
		}
	}
}
/* search page */
#search-form{
	#edit-basic{
		margin-bottom: 50px;
		label{
			margin-right: 10px;
		}
		.form-text{
			height: 44px;
		}
	}
}
.search-results{
	padding: 30px;
	background: #fff;
	.title{
		margin-bottom: 10px !important;
		&:after{
			background: none !important;
			width: auto !important;
		}
	}
	li{
		margin-bottom: 50px;
		&:last-child{
			margin-bottom: 0;
		}
	}
}

/* checkout */
#commerce-checkout-form-checkout{
	#edit-account{
		margin-bottom: 30px;
	}
	.form-item-account-login-mail .form-text {
		height: 45px;
	}
	.form-item-account-login-mail label {
		width: 130px;
	}
}
/**/
.btn-btt {
  background: $dark-color;
  bottom: 50px;
  color: white;
  display: none;
  font-size: 1.714em;
  height: 50px;
  @include transition;
  font-family: 'FontAwesome';
  line-height: 50px;
  position: fixed;
  right: 30px;
  text-align: center;
  text-indent: -9999em;
  width: 50px;
  z-index: 200;
  &:hover, &:focus {
    background: $minor-color;
    color: $dark-color;
  }
  &:after {
		content: "\f106";
		line-height: 50px;
		left: 0;
		position: absolute;
		text-indent: 0;
		text-align: center;
		top: 0;
		width: 100%;
	}
}

.form-item .description {
    margin-top: 5px;
}
